/* Login.css */

.background {
    background: linear-gradient(45deg, #1dc571, #2980b9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px; /* Increase the width as needed */
    
   
  }
  
  .login-container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 15px; /* Increase the padding as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: relative;
    left: 4px;
    width: 400px;

  }
  
  .form-group button:hover {
    background-color: #007bb5;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  