.background {
  background: linear-gradient(45deg, #1dc571, #2980b9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;

  input, text {
     border:0; outline:0;
     padding: 1em;
     border-radius:8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     box-shadow:(0 1px 1px rgba(black, 0.1));
     


  }
  .button-submit button {
    margin-top: 1em ;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: relative;
    left: 4px;
    width: 400px;

  }
  
  .button-submit button:hover {
    background-color: #007bb5;
  }

  

}

